{# 
Banner (Homepage)

Fields:
  -- Banner: Group
    -- image: Image (ID)
    -- video: File
    -- title: Text
    -- text: Text(area?)
    -- link: URL
    -- link_text: Text
 #}
<section class="banner">
    {% set image = get_image(banner.image) %}
    <img src="{{ image.src }}" srcset="{{ image.srcset }}" sizes="{{ image.img_sizes }}" alt="{{ image.alt }}" class="banner-image" data-object-fit="cover" loading="lazy">
    {% if banner.video %}
        <div id="Video" data-video="{{ banner.video.url }}" class="banner-video">
            <video autoplay="" loop="" muted="" oncanplay="this.muted=true" data-object-fit="cover"><source src="{{ banner.video.url }}" type="video/mp4"></video>
        </div>
        <div class="banner-video-controls">
            <button class="banner-video-controls-button playpause __pause">
                <span id="banner-video-controls-button-text" class="sronly">Pause</span>
            </button>
        </div>
    {% endif %}
    <div class="banner-wrap">
        <div class="container">
            <div class="banner-content">
                <h1 class="banner-title">{{ banner.title|e('wp_kses_post') }}</h1>
                {% if banner.text %}
                    <p class="banner-text">
                        {{ banner.text|e('wp_kses_post') }}
                    </p>
                {% endif %}
                {% if banner.link %}
                    <a href="{{ banner.link|e('esc_url') }}" class="banner-link button __slidein">
                        {{ banner.link_text|e('wp_kses_post') }}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
