<a href="{{ item.link|e('esc_url') }}" class="case-studies-item" aria-label="{{ item.title }}">
    <div class=" row">
        {% if item.thumbnail.src %}
        <div class="col-sm-6 col-md-4 pe-sm-0">
            <div class="case-studies-item-image">
                <picture class="w-100 h-100">
                    <source srcset="{{ item.thumbnail.src }}" media="(min-width:1200px)">
                    <source srcset="{{ item.thumbnail.src }}">
                    <img src="{{ item.thumbnail.src }}" alt="{{ item.thumbnail.alt }}" data-object-fit="cover" loading="lazy">
                </picture>
            </div>
        </div><!-- column -->
        {% endif %}
        <div class="col-sm-6 col-md-8">
            <div class="case-studies-item-content">
                <div class="h4 case-studies-item-date d-flex flex-column">
                    <span>{{ item.date|date('M') }}</span><span>{{ item.date|date('Y') }}</span>
                </div>
                <h2 class="h2 case-studies-item-title">{{ item.title }}</h2>
                {% if item.post_excerpt %}
                <p class="case-studies-item-text">{{ item.post_excerpt }}</p>
                {% endif %}
                <div class="case-studies-item-cta button __dark">Find out more</div>
            </div>
        </div><!-- column -->
    </div><!-- row -->
</a>