{% if tabbed_data %}
<div class="faq">
    <div class="tabsblock">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Tabs -->
                    <div class="tabpanel Tabs">

                        <!-- Tab header -->
                        <div class="tabpanel-head" role="tablist">
                            {% for tab in tabbed_data %}
                                <button class="tabpanel-tab TabTrigger" id="tabpanel-tab-{{ loop.index }}" data-set="{{ loop.index }}" role="tab" aria-controls="tabpanel-panel-{{ loop.index }}">
                                    {{ tab.name }}
                                </button>
                            {% endfor %}
                        </div>

                        <!-- Tab header END -->
                        <!-- Tab content -->
                        <div class="tabpanel-content">
                            {% for tab in tabbed_data %}
                                <div class="tabpanel-panel TabContent" id="tabpanel-panel-{{ loop.index }}" data-set="{{ loop.index }}" role="tabpanel" aria-labelledby="tabpanel-tab-{{ loop.index }}">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-10 col-xl-8 mx-auto">
                                                {% for item in tab.posts %}
                                                    {% set item_fields = fn('get_fields', item.ID) %}
                                                    <div class="accordion Accordion">
                                                        <button class="w-100 accordion-head AccordionTrigger d-flex justify-content-between align-items-center" id="{{ item.ID }}-accordion-button-{{ loop.index }}" aria-controls="{{ item.ID }}-accordion-panel-{{ loop.index }}">
                                                            {{ item.post_title }}
                                                            <span class="icon"></span>
                                                        </button>
                                                        <div class="accordion-content AccordionContent" id="{{ faq.ID }}-accordion-panel-{{ loop.index }}" aria-labelledby="{{ item.ID }}-accordion-button-{{ loop.index }}">
                                                            {% if item_fields.faq_content %}
                                                                <div class="usercontent">
                                                                    {{ item_fields.faq_content }}
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div><!-- column -->
                                        </div><!-- row -->
                                    </div><!-- container -->
                                </div>
                            {% endfor %}
                        </div>
                        <!-- Tab content END -->
                    </div>
                    <!-- Tabs END -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}