<section class="full-width-cta-block">
    <div class="container">
        <div class="full-width-cta <?= (isset($modifier) ? $modifier : "") ?>">
        {% if block.image %}
        <div class="full-width-cta-image">
            <picture class="w-100 h-100">
                <source srcset="{{ block.image.url }}" media="(min-width:1200px)">
                <source srcset="{{ block.image.url }}" media="(min-width:992px)">
                <source srcset="{{ block.image.url }}" media="(min-width:768px)">
                <source srcset="{{ block.image.url }}" media="(min-width:576px)">
                <source srcset="{{ block.image.url }}">
                <img src="{{ block.image.url }}" alt="{{ block.image.alt }}" data-object-fit="cover" loading="lazy">
            </picture>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-lg-8 col-xl-7">
                <div class="full-width-cta-text">
                    {% if block.title %}
                        <h2 class="full-width-cta-title">{{ block.title }}</h2>
                    {% endif %}
                    {% if block.button %}
                        <a href="{{ block.button.url }}" class="button __gradient-dark">{{ block.button.title }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="full-width-cta-background">
            {% include 'components/backgrounds/' ~ gradient_background %}
        </div>
    </div>
    </div>
</section>