{# 
Image Grid with Modal Images 

Fields:
-- images: Gallery (ID)
-- margin_top: Select

#}
<div class="flexibleblocks-block" style='margin-top:{{ block.margin_top }};'>
    <section class="imagemodal-block">
        <div class="container">
            <div class="row">
                {% for item in block.images %}
                    {% set image = get_image(item) %}
                    <div class="col-4">
                        <a href="{{ image.src }}" class="imagemodal">
                            <img src="{{ image.src }}" srcset="{{ image.srcset }}" sizes="{{ image.img_sizes }}" alt="{{ image.alt }}" data-object-fit="cover" loading="lazy">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
</div>
<!-- flexible block -->
