{# 
Modal Block
Fields:
 -- button_text: Text
 -- content: WYSIWYG
 -- margin_top: Select
 #}

{% set key = random() %}
<div class="flexibleblocks-block" style='margin-top:{{ block.margin_top }};'>
    <section class="buttonmodal">
        <div class="container">
            <button class="button ModalTrigger" data-modal="{{ key }}">{{ block.button_text|e('wp_kses_post') }}</button>
        </div>
    </section>
</div>
<div class="modalblock Modal" data-modal="{{ key }}" role="dialog">
    <div class="modalblock-container" role="document">
        <div class="modalblock-content">
            {{ block.content|e('wp_kses_post') }}
        </div>
        <button class="modalblock-close ModalClose" aria-label="Close">
            <span class="sronly">Close</span>
        </button>
    </div>
</div>
<!-- flexible block -->