{% if block.categories_to_show %}
<!-- The '__progress' modifier below generates a progress bar (using JS) -->
<section class="posts-slider slider __progress tabpanel Tabs">

    <div class="container position-relative">
        <div class="row posts-slider-header">
            {% if block.title %}
            <div class="col-12 col-xl-8">
                <h2 class="h1 posts-slider-title __block-title">{{ block.title }}</h2>
            </div><!-- column -->
            {% endif %}
            <div class="d-flex col-xxl-4 justify-content-xxl-end align-items-center posts-slider-controls">
                <div class="posts-slider-filters-wrap">
                    <!-- Tab header -->
                    <ul class="posts-slider-filters" role="tablist">
                        <!-- @BE these buttons should update the content within the slider below. The current filter should use the __current class -->
                        {% for category in block.categories_to_show %}
                        <li>
                            <button class="filter-button TabTrigger" id="tabpanel-tab-{{ loop.index }}" data-set="{{ loop.index }}" role="tab" aria-controls="tabpanel-panel-{{ loop.index }}">
                                {{category.name}}
                            </button>
                        </li>
                        {% endfor %}
                    </ul>
                    <!-- Tab header END -->
                    <!-- @BE this CTA is repeated below. See additional note -->
                    <a href="{{ fn('get_post_type_archive_link', 'post') }}" class="d-none d-lg-block view-all button __dark">View all</a>
                </div>
            </div>
        </div><!-- row -->
        <div class="row">
            <div class="col-12 col-lg-10 col-xl-11 pe-lg-3 pe-xl-5">
                <!-- Tab content -->
                <div class="tabpanel-content">
                    {% for category in block.categories_to_show %}
                    {% set category_posts = fn('getPostsByCategory', category.term_id) %}
                        {% if category_posts %}
                        <div class="TabContent slider-tabpanel-panel" id="tabpanel-panel-{{ loop.index }}" data-set="{{ loop.index }}" role="tabpanel" aria-labelledby="tabpanel-tab-{{ loop.index }}">
                            <div class="slider-items">
                                {% for item in Post(category_posts) %}
                                    {% include 'components/news_item.twig' %}
                                {% endfor %}
                            </div>
                            <div class="slider-controls">
                                <div class="slider-button-wrap d-flex justify-content-center">
                                    <button class="sliderbutton __dark __prev sliderPrevButton">
                                        <span class="visually-hidden">Previous Slide</span>
                                    </button>
                                    <button class="sliderbutton __dark __next sliderNextButton">
                                        <span class="visually-hidden">Next Slide</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- Tab content END -->
            </div>
            <!-- @BE this is the same button as used in the block filters section above, but we are placing it below the content on mobile -->
            <div class="col-12 d-lg-none">
                <a href="{{ fn('get_post_type_archive_link', 'post') }}" class="view-all button __dark">View all</a>
            </div>
        </div>
    </div>
</section>
{% endif %}