
{% if block.selected_review %}
{% set review_fields = fn('get_fields', block.selected_review) %}
<!-- @BE I've added a modifier to this block for __inverted-radius-bottom, as I think usage of this is going to be dependent on which block follows. I'd set it to add the modifier as default, but allow them to switch it off. The other modifiers should not be removed -->
<section class="two-column-block __reviews {% if block.inverted_bottom_radius %}__inverted-radius-bottom{% endif %} __background-dark">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="two-column">
                    <div class="col-lg-6 col-xl-5 two-column-image">
                        {% if review_fields.image %}
                        <picture>
                            <source srcset="{{ review_fields.image.url }}" media="(min-width:992px)">
                            <source srcset="{{ review_fields.image.url }}">
                            <img src="{{ review_fields.image.url }}" alt="{{ review_fields.image.alt }}" data-object-fit="cover" loading="lazy">
                        </picture>
                        {% endif %}
                    </div>
                    <div class="col-lg-6 col-xl-5 two-column-text">
                        {% if review_fields.rating %}
                        <div class="two-column-review-rating">
                            {% for y in range(1, review_fields.rating, 1) %}
                                <span class="icon icon-star"></span>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% if review_fields.title %}
                        <h2 class="h3 two-column-review-title"><span>“</span>{{ review_fields.title }}<span>”</span></h2>
                        {% endif %}
                        {% if review_fields.content %}
                        <div class="two-column-review-text">
                            {{ review_fields.content }}
                        </div>
                        {% endif %}
                        {% if review_fields.name %}
                        <div class="h5 two-column-review-author">{{ review_fields.name }}</div>
                        {% endif %}
                        {% if block.button %}
                        <a href="{{ block.button.url }}" class="two-column-review-cta button __light">{{ block.button.title }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}