{% if block.tabs %}
    <section class="tabsblock __background-dark">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Tabs -->
                    <div class="tabpanel Tabs">
                        <!-- Tab header -->
                        <div class="tabpanel-head" role="tablist">
                            {% for tab in block.tabs %}
                                <button class="tabpanel-tab TabTrigger" id="tabpanel-tab-{{ loop.index }}" data-set="{{ loop.index }}" role="tab" aria-controls="tabpanel-panel-{{ loop.index }}">
                                    {{ tab.tab_title }}
                                </button>
                            {% endfor %}
                        </div>
                        <!-- Tab header END -->
                        <!-- Tab content -->
                        <div class="tabpanel-content">
                            {% for tab in block.tabs %}
                                <div class="tabpanel-panel TabContent" id="tabpanel-panel-{{ loop.index }}" data-set="{{ loop.index }}" role="tabpanel" aria-labelledby="tabpanel-tab-{{ loop.index }}">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-6 col-xl-5 px-0">
                                                {% if tab.tab_content %}
                                                    <div class="usercontent">
                                                        {{ tab.tab_content }}
                                                    </div>
                                                {% endif %}

                                                {% include 'components/themed-buttons.twig' with {
                                                    'use_dark_buttons' : 'dark',
                                                    'button_one' : tab.button_one,
                                                    'button_two' : tab.button_two,
                                                } %}
                                            </div><!-- column -->
                                            <div class="col-lg-6 offset-xl-1 px-0">
                                                {% if tab.accordions %}
                                                    {% for accordion in tab.accordions %}
                                                        {% if accordion.accordion_title and accordion.accordion_content %}
                                                            <div class="accordion Accordion">
                                                                <button class="w-100 accordion-head AccordionTrigger d-flex justify-content-between align-items-center" id="{{ loop.index }}-accordion-button-{{ loop.index }}" aria-controls="{{ loop.index }}-accordion-panel-{{ loop.index }}">
                                                                    {{ accordion.accordion_title }}
                                                                    <span class="icon"></span>
                                                                </button>
                                                                <div class="accordion-content AccordionContent" id="{{ loop.index }}-accordion-panel-{{ loop.index }}" aria-labelledby="{{ loop.index }}-accordion-button-{{ loop.index }}">
                                                                    <div class="usercontent">
                                                                        {{ accordion.accordion_content }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            </div><!-- column -->
                                        </div><!-- row -->
                                    </div><!-- container -->
                                </div>
                            {% endfor %}
                        </div>
                        <!-- Tab content END -->
                    </div>
                    <!-- Tabs END -->
                </div>
            </div>
        </div>
        <div class="tabsblock-background d-none d-lg-block">
            {% include 'components/backgrounds/' ~ lines_background %}
        </div>
    </section>
{% endif %}