<section class="two-column-block {% if block.use_dark_background %}__background-dark{% else %} __background-light{% endif %}">
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="two-column {% if block.use_alt_layout %}{% else %} __alt{% endif %}">
                <div class="col-lg-6 col-xl-5 two-column-text">
                    {% if block.title %}
                    <h2 class="h1 two-column-title">{{ block.title }}</h2>
                    {% endif %}
                    <div class="usercontent">
                        {% if block.content %}
                            {{ block.content }}
                        {% endif %}

                        {% include 'components/themed-buttons.twig' with {
                            'use_dark_buttons' : block.use_dark_background,
                            'button_one' : block.button_one,
                            'button_two' : block.button_two,
                        } %}
                    </div>
                </div>
                <div class="col-lg-6 col-xl-7 two-column-image">
                    {% if block.image %}
                    <picture>
                        <source srcset="{{ block.image.url }}" media="(min-width:992px)">
                        <source srcset="{{ block.image.url }}">
                        <img src="{{ block.image.url }}" alt="{{ block.image.alt }}" data-object-fit="cover" loading="lazy">
                    </picture>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</div>
</section>