<!--banner-->
<section class="banner {{ banner_modifiers ? banner_modifiers : '' }} {{ banner_height ? banner_height : '' }} {{ banner_image ? '' : '__no-image' }}">

<div class="banner-wrap">
    <div class="container">
        <div class="row banner-wrap-row">
            <div class="col-md-6 col-lg-6 col-xl-5 col-xxl-4">
                <div class="banner-content">
                    {% if banner_date and show_date %}
                    <div class="banner-date">{{ banner_date }}</div>
                    {% endif %}
                    {% if banner_title %}
                    <h1 class="banner-title">{{ banner_title }}</h1>
                    {% endif %}
                    {% if banner_text %}
                    <p class="banner-text">
                        {{ banner_text }}
                    </p>
                    {% endif %}
                    {% if author %}
                    {% set author_fields = fn('get_fields', author) %}
                    <div class="banner-author d-flex align-items-center">
                        {% if author_fields.image %}
                        <div class="banner-author-image">
                            <img src="{{ author_fields.image.url }}" alt="{{ author_fields.image.alt }}" loading="lazy" data-object-fit="cover">
                        </div>
                        {% endif %}
                        <div class="banner-author-content d-flex">
                            <span>Written by</span>
                            <span>{{ author.post_title }}</span>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div><!-- column -->
            <div class="col-md-6 col-lg-6 offset-xl-1 offset-xxl-2 d-md-flex align-items-md-center d-lg-block">
                {% if banner_image %}
                <picture class="banner-image">
                    <source srcset="{{ banner_image.url }}" media="(min-width:992px)">
                    <source srcset="{{ banner_image.url }}" media="(min-width:768px)">
                    <source srcset="{{ banner_image.url }}" media="(min-width:576px)">
                    <source srcset="{{ banner_image.url }}" type="image/jpeg">
                    <img src="{{ banner_image.url }}" alt="{{ banner_image.alt }}" data-object-fit="cover" class="banner-clip-path">
                </picture>
                {% endif %}
            </div><!-- column -->

        </div><!-- row -->
    </div><!--container-->
</div><!--wrap-->
{% if show_svg %}
<div class="banner-background-wrap">
    <div class="banner-background">
        {% include 'components/backgrounds/' ~ lines_background %}
    </div>
</div>
{% endif %}
</section>
<!--banner-->