{% if block.slider %}
<!-- The '__progress' modifier below generates a progress bar (using JS) -->
<section class="gallery-slider slider">
    <div class="container position-relative">
        {% if block.title %}
        <div class="row gallery-slider-header">
            <div class="col-12 text-center">
                <h2 class="h1 gallery-slider-title __block-title">{{ block.title }}</h2>
            </div><!-- column -->
        </div><!-- row -->
        {% endif %}
        <div class="row">
            <div class="col-12 col-lg-10 mx-auto">
                <div class="slider-button">
                    <button class="sliderbutton __prev sliderPrevButton">
                        <span class="visually-hidden">Previous Slide</span>
                    </button>
                </div>
                <div class="slider-items">
                    {% for slide in block.slider %}
                    <div class="gallery-slider-item">
                        <div class="gallery-slider-image">
                            <picture>
                                <source srcset="{{ slide.image.url }}" media="(min-width:768px)">
                                <source srcset="{{ slide.image.url }}">
                                <img src="{{ slide.image.url }}" alt="{{ slide.image.alt }}" data-object-fit="cover" loading="lazy">
                            </picture>
                        </div>
                        <div class="gallery-slider-caption">
                            {% if slide.title %}
                            <div class="h4 gallery-slider-caption-title">{{ slide.title }}</div>
                            {% endif %}
                            {% if slide.content %}
                            <p class="gallery-slider-caption-text">{{ slide.content }}</p>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="slider-button __next">
                    <button class="sliderbutton sliderNextButton">
                        <span class="visually-hidden">Next Slide</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}