</main><!--#Main-->
</div><!--wrapper-->

<footer>
    {% if footer_menu.items %}
    <div class="footer __upper">
        <div class="container">
            <div class="row">
                <div class="col-12 footer-col">
                    <nav class="footer-nav" aria-label="footer">
                        <ul>
                            {% for item in footer_menu.items %}
                                <li><a href="{{ item.link }}">{{ item.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="footer __middle">
        <div class="container">
            <div class="row">
                <div class="col footer-contact">
                    <h2 class="h4 footer-title">Contact</h2>
                    <ul>
                        {% if options.contact_telephone %}
                        <li>
                            <a href="tel:{{ options.contact_telephone }}">
                                <span class="icon icon-call"></span>
                                <span class="link-text">{{ options.contact_telephone }}</span>
                            </a>
                        </li>
                        {% endif %}
                        {% if options.contact_email %}
                        <li>
                            <a href="mailto:{{ options.contact_email }}">
                                <span class="icon icon-mail"></span>
                                <span class="link-text">{{ options.contact_email }}</span>
                            </a>
                        </li>
                        {% endif %}

                        <li>
                            <a href="{{ options.footer_logo_link }}">
                                {% if options.footer_logo  %}
                                <img src="{{ options.footer_logo.url }}" alt="Smart Energy Business">
                                {% endif %}
                                {% if options.footer_logo_text %}
                                <span class="link-text">{{ options.footer_logo_text }}</span>
                                {% endif %}
                            </a>
                        </li>
                    </ul>
                </div><!-- column -->

                {% if quick_links.items %}
                <div class="col footer-quicklinks footer-nav">
                    {% if quick_links.name %}
                    <h2 class="h4 footer-title">{{ quick_links.name }}</h2>
                    {% endif %}
                    <ul>
                        {% for item in quick_links.items %}
                            <li><a href="{{ item.link }}">{{ item.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div><!-- column -->
                {% endif %}
                <div class="col-sm-3 footer-logo">
                    {% if options.right_footer_logo_link %}
                        <a href="{{options.right_footer_logo_link}}" target="_blank">
                    {% endif %}
                    {% if options.footer_logo %}
                        <img src="{{ options.footer_logo.url }}" alt="{{ options.footer_logo.alt }}">
                    {% endif %}
                    {% if options.right_footer_logo_link %}
                        </a>
                    {% endif %}
                </div><!-- column -->
            </div><!-- row -->
        </div><!-- container -->
    </div>
    <div class="footer __lower">
        <div class="container">
            <div class="row">
                <div class="col-sm-6  d-flex justify-content-center justify-content-sm-start">
                    <div class="socialwrap">
                        {% if options.twitter_link %}
                        <a href="{{ options.twitter_link }}" rel="noopener" class="socialicon __twitter">
                            <span class="visually-hidden">Twitter</span>
                        </a>
                        {% endif %}
                        {% if options.facebook_link %}
                        <a href="{{ options.facebook_link }}" rel="noopener" class="socialicon __facebook">
                            <span class="visually-hidden">Facebook</span>
                        </a>
                        {% endif %}
                        {% if options.linkedin_link %}
                        <a href="{{ options.linkedin_link }}" rel="noopener" class="socialicon __linkedin">
                            <span class="visually-hidden">LinkedIn</span>
                        </a>
                        {% endif %}
                        {% if options.instagram_link %}
                        <a href="{{ options.instagram_link }}" rel="noopener" class="socialicon __instagram">
                            <span class="visually-hidden">Instagram</span>
                        </a>
                        {% endif %}
                        {% if options.pinterest_link %}
                        <a href="{{ options.pinterest_link }}" rel="noopener" class="socialicon __pinterest">
                            <span class="visually-hidden">Pinterest</span>
                        </a>
                        {% endif %}
                        {% if options.youtube_link %}
                        <a href="{{ options.youtube_link }}" rel="noopener" class="socialicon __youtube">
                            <span class="visually-hidden">Youtube</span>
                        </a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-6 d-flex justify-content-center justify-content-sm-end">
                    <div class="footer-col footer-copyright d-sm-flex">
                        <span>Designed &amp; Developed by</span>
                        <a href="https://spindogs.co.uk" target="_blank">
                            Spindogs
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>