<head>
    <meta charset="utf-8">
    <title>{{ fn('wp_title') }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>

    <link rel="stylesheet" href="https://use.typekit.net/fge6ufj.css">

    <link rel="preload" href="{{ site.theme.link }}/css/icomoon/fonts/icomoon.ttf?eoj5nh" as="font" type="font/ttf" crossorigin>
    <link rel="preload" href="{{ site.theme.link }}/css/icomoon/fonts/icomoon.woff?eoj5nh" as="font" type="font/woff" crossorigin>
    <link rel="prefetch" href="{{ site.theme.link }}/css/icomoon/fonts/icomoon.svg?eoj5nh#icomoon" type="image/svg+xml" crossorigin>
    <link rel="stylesheet" href="{{ site.theme.link }}/css/main.css?nocache=25062024" type="text/css" media="screen">

    <!-- favicon files -->
    <link rel="shortcut icon" href="{{ site.theme.link }}/images/favicon/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ site.theme.link }}/images/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.theme.link }}/images/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.theme.link }}/images/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.theme.link }}/images/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ site.theme.link }}/images/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.theme.link }}/images/favicon/apple-touch-icon-152x152.png">
    <link rel="icon" href="{{ site.theme.link }}/images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" href="{{ site.theme.link }}/images/favicon/favicon-16x16.png" sizes="16x16">
    <meta name="application-name" content="&nbsp;">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/images/favicon/mstile-144x144.png">

    {{ function('wp_head') }}

</head>